@using ContestHunter.Models.Domain
@model ContestHunter.Models.View.ContestListModel
@{
    ViewBag.Title = "比赛";
    ViewBag.ActivedNav = "Contest";
}

<style type="text/css">
    .table {
        background-color: white;
        color: black;
        margin: 0px;
    }

        .table th,
        .table td {
            text-align: center;
            vertical-align: middle;
            font-family: 微软雅黑;
        }

            .table td h6 {
                font-weight: normal;
            }
</style>
@using (Html.BeginForm("Index", "Contest", null, FormMethod.Get, new { id = "frmList" }))
{
    if (Model.Testing.Count > 0)
    {
    <div class="span12">
        <div class="alert alert-success" style="margin-top: 20px; padding: 0px">
            <h5 style="margin: 0px 5px">进行中的比赛</h5>
            <table class="table table-bordered table-striped table-hover">
                <colgroup>
                    <col style="width: 450px">
                    <col style="width: 150px">
                    <col style="width: 200px">
                    <col style="width: 100px">
                </colgroup>
                <thead>
                    <tr>
                        <th>比赛名称</th>
                        <th>赛制</th>
                        <th>开始时刻/时长</th>
                        <th>报名人数</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Contest contest in Model.Testing)
                    {
                        <tr>
                            <td>
                                <h5 style="margin: 0px">@Html.ActionLink(contest.Name, "Show", new { id = contest.Name })</h5>
                                @if (contest.Owners.Count > 0)
                                {
                                    <h6 style="margin: 0px">From
                                        @for (int i = 0; i < contest.Owners.Count; i++)
                                        {
                                            if (i != 0)
                                            {
                                            @:,
                                            }
                                            @Html.UserLink(contest.Owners[i])
                                        }
                                    </h6>
                                }
                            </td>
                            <td>
                                <div>
                                    @switch (contest.Type)
                                    {
                                        case Contest.ContestType.ACM:
                                        @:ACM/ICPC
                                            break;
                                        case Contest.ContestType.CF:
                                        @:Codeforces
                                            break;
                                        case Contest.ContestType.OI:
                                        @:OI
                                            break;
                                    }
                                </div>
                                @if (contest.IsOfficial)
                                {
                                    <div style="color: red">Official</div>
                                }
                                else
                                {
                                    <div style="color: blue">Unofficial</div>
                                }
                            </td>
                            <td>
                                @contest.AbsoluteStartTime<br />
                                持续<b>@(Math.Round((contest.AbsoluteEndTime - contest.AbsoluteStartTime).TotalHours, 1))</b>小时
                                @if (User.Identity.IsAuthenticated && contest.IsAttended() && contest.GetAttendType() == Contest.AttendType.Virtual)
                                {
                                    <div class="alert alert-success">
                                        模拟比赛于 @contest.RelativeStartTime 开始
                                    </div>
                                }
                            </td>
                            <td>
                                <div>
                                    <code>@contest.AttendedUsersCount()</code>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
                @if (ViewBag.TestingPageCount > 1)
                {
                    @Html.HiddenFor(x => x.TestingPageIndex)
                    <script>
                        function ChangeTestingPage(index) {
                            $('#TestingPageIndex').val(index);
                            $('#frmList').submit();
                        }
                    </script>
                    <tfoot>
                        <tr>
                            <td colspan="5" style="text-align: center">
                                <div class="pagination" style="margin: 0px">
                                    <ul>
                                        @if (Model.TestingPageIndex != 0)
                                        {
                                            <li><a href="javascript:ChangeTestingPage(0)">«</a></li>
                                        }
                                        @for (int i = 0; i < Model.TestingPageCount; i++)
                                        {
                                            if (Model.TestingPageIndex == i)
                                            {
                                            <li class="active"><a href="javascript:ChangeTestingPage( @i )">@(i + 1)</a></li>
                                            }
                                            else
                                            {
                                            <li><a href="javascript:ChangeTestingPage( @i )">@(i + 1)</a></li>
                                            }
                                        }
                                        @if (Model.TestingPageIndex != Model.TestingPageCount - 1)
                                        {
                                            <li><a href="javascript:ChangeTestingPage(@(Model.TestingPageCount - 1))" >»</a></li>
                                        }
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                }
            </table>
        </div>
    </div>
    }
    if (Model.Pending.Count > 0)
    {
    <div class="span12">
        <div class="alert alert-info" style="margin-top: 20px; padding: 0px">
            <h5 style="margin: 0px 5px">计划中的比赛</h5>
            <table class="table table-bordered table-striped table-hover">
                <colgroup>
                    <col style="width: 450px">
                    <col style="width: 150px">
                    <col style="width: 200px">
                    <col style="width: 100px">
                </colgroup>
                <thead>
                    <tr>
                        <th>比赛名称</th>
                        <th>赛制</th>
                        <th>开始时刻/时长</th>
                        <th>报名人数</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Contest contest in Model.Pending)
                    {
                        <tr>
                            <td>
                                <h5 style="margin: 0px">@Html.ActionLink(contest.Name, "Show", new { id = contest.Name })</h5>
                                @if (contest.Owners.Count > 0)
                                {
                                    <h6 style="margin: 0px">From
                                        @for (int i = 0; i < contest.Owners.Count; i++)
                                        {
                                            if (i != 0)
                                            {
                                            @:,
                                            }
                                            @Html.UserLink(contest.Owners[i])
                                        }
                                    </h6>
                                }
                            </td>
                            <td>
                                <div>
                                    @switch (contest.Type)
                                    {
                                        case Contest.ContestType.ACM:
                                        @:ACM/ICPC
                                            break;
                                        case Contest.ContestType.CF:
                                        @:Codeforces
                                            break;
                                        case Contest.ContestType.OI:
                                        @:OI
                                            break;
                                    }
                                </div>
                                @if (contest.IsOfficial)
                                {
                                    <div style="color: red">Official</div>
                                }
                                else
                                {
                                    <div style="color: blue">Unofficial</div>
                                }
                            </td>
                            <td>
                                @contest.AbsoluteStartTime<br />
                                持续<b>@(Math.Round((contest.AbsoluteEndTime - contest.AbsoluteStartTime).TotalHours, 1))</b>小时
                                @if (User.Identity.IsAuthenticated && contest.IsAttended() && contest.GetAttendType() == Contest.AttendType.Virtual)
                                {
                                    <div class="alert alert-success">
                                        模拟比赛于 @contest.RelativeStartTime 开始
                                    </div>
                                }
                            </td>
                            <td>
                                <div><code>@contest.AttendedUsersCount()</code></div>
                            </td>
                        </tr>
                    }
                </tbody>
                @if (ViewBag.PendingPageCount > 1)
                {
                    @Html.HiddenFor(x => x.PendingPageIndex)
                    <script>
                        function ChangePendingPage(index) {
                            $('#PendingPageIndex').val(index);
                            $('#frmList').submit();
                        }
                    </script>
                    <tfoot>
                        <tr>
                            <td colspan="5" style="text-align: center">
                                <div class="pagination" style="margin: 0px">
                                    <ul>
                                        @if (Model.PendingPageIndex != 0)
                                        {
                                            <li><a href="javascript:ChangePendingPage(0)">«</a></li>
                                        }
                                        @for (int i = 0; i < Model.PendingPageCount; i++)
                                        {
                                            if (Model.PendingPageIndex == i)
                                            {
                                            <li class="active"><a href="javascript:ChangePendingPage( @i )">@(i + 1)</a></li>
                                            }
                                            else
                                            {
                                            <li><a href="javascript:ChangePendingPage( @i )">@(i + 1)</a></li>
                                            }
                                        }
                                        @if (Model.PendingPageIndex != Model.PendingPageCount - 1)
                                        {
                                            <li><a href="javascript:ChangeTestingPage(@(Model.PendingPageCount - 1))" >»</a></li>
                                        }
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                }
            </table>
        </div>
    </div>
    }
    if (Model.Done.Count > 0)
    {
    <div class="span12">
        <div class="alert" style="margin-top: 20px; padding: 0px">
            <h5 style="margin: 0px 5px">已举办的比赛</h5>
            <table class="table table-bordered table-striped table-hover">
                <colgroup>
                    <col style="width: 450px">
                    <col style="width: 150px">
                    <col style="width: 200px">
                    <col style="width: 100px">
                </colgroup>
                <thead>
                    <tr>
                        <th>比赛名称</th>
                        <th>赛制</th>
                        <th>开始时刻/时长</th>
                        <th>报名人数</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Contest contest in Model.Done)
                    {
                        <tr>
                            <td>
                                <h5 style="margin: 0px">@Html.ActionLink(contest.Name, "Show", new { id = contest.Name })</h5>
                                @if (contest.Owners.Count > 0)
                                {
                                    <h6 style="margin: 0px">From
                                        @for (int i = 0; i < contest.Owners.Count; i++)
                                        {
                                            if (i != 0)
                                            {
                                            @:,
                                            }
                                            @Html.UserLink(contest.Owners[i])
                                        }
                                    </h6>
                                }
                            </td>
                            <td>
                                <div>
                                    @switch (contest.Type)
                                    {
                                        case Contest.ContestType.ACM:
                                        @:ACM/ICPC
                                            break;
                                        case Contest.ContestType.CF:
                                        @:Codeforces
                                            break;
                                        case Contest.ContestType.OI:
                                        @:OI
                                            break;
                                    }
                                </div>
                                @if (contest.IsOfficial)
                                {
                                    <div style="color: red">Official</div>
                                }
                                else
                                {
                                    <div style="color: blue">Unofficial</div>
                                }
                            </td>
                            <td>
                                @contest.AbsoluteStartTime<br />
                                持续<b>@(Math.Round((contest.AbsoluteEndTime - contest.AbsoluteStartTime).TotalHours, 1))</b>小时
                                @if (User.Identity.IsAuthenticated && contest.IsAttended() && contest.GetAttendType() == Contest.AttendType.Virtual)
                                {
                                    <div class="alert alert-success">
                                        模拟比赛于 @contest.RelativeStartTime 开始
                                    </div>
                                }
                            </td>
                            <td>
                                <div><code>@contest.AttendedUsersCount()</code></div>
                            </td>
                        </tr>
                    }
                </tbody>
                @if (Model.DonePageCount > 1)
                {
                    @Html.HiddenFor(x => x.DonePageIndex)
                    <script>
                        function ChangeDonePage(index) {
                            $('#DonePageIndex').val(index);
                            $('#frmList').submit();
                        }
                    </script>
                    <tfoot>
                        <tr>
                            <td colspan="5" style="text-align: center">
                                <div class="pagination" style="margin: 0px">
                                    <ul>
                                        @if (Model.DonePageIndex != 0)
                                        {
                                            <li><a href="javascript:ChangeDonePage(0)">«</a></li>
                                        }
                                        @for (int i = 0; i < Model.DonePageCount; i++)
                                        {
                                            if (Model.DonePageIndex == i)
                                            {
                                            <li class="active"><a href="javascript:ChangeDonePage( @i )">@(i + 1)</a></li>
                                            }
                                            else
                                            {
                                            <li><a href="javascript:ChangeDonePage( @i )">@(i + 1)</a></li>
                                            }
                                        }
                                        @if (Model.DonePageIndex != Model.DonePageCount - 1)
                                        {
                                            <li><a href="javascript:ChangeDonePage(@(Model.DonePageCount - 1))" >»</a></li>
                                        }
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                }
            </table>
        </div>
    </div>
    }
}