@model ContestHunter.Models.View.MyContestModel
@{
    ViewBag.Title = "我举办的比赛";
    ViewBag.ActivedNav = "Contest";
}

<style type="text/css">
    .table {
        background-color: white;
        color: black;
        margin: 0px;
    }

        .table th,
        .table td {
            text-align: center;
            vertical-align: middle;
            font-family: 微软雅黑;
        }

            .table td h5 {
                margin: 0px;
            }

    code {
        padding: 0 3px 2px;
        font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
        font-size: 12px;
        color: #333333;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 2px 4px;
        color: #d14;
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
    }
</style>

<div class="span12">
    <fieldset style="margin-top: 30px">
        <legend>我举办的比赛
            @Html.ActionLink("我要申办比赛","Add",null,new{@class="btn btn-danger",style="float: right; display:inline-block;"})
        </legend>
        <table class="table table-bordered table-striped table-hover">
            <colgroup>
                <col style="width: 200px">
                <col style="width: 500px">
                <col style="width: 100px">
                <col style="width: 100px">
            </colgroup>
            <thead>
                <tr>
                    <th>举办时间</th>
                    <th>比赛名称</th>
                    <th>参赛人数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contest in Model.Contests)
                {
                    <tr>
                        <td>@contest.StartTime</td>
                        <td>
                            <h5>
                                @Html.ActionLink(contest.Name, "Show", new { id = contest.Name })
                                @if (contest.OtherOwners.Count > 0)
                                {
                                    <span style="font-size: 12px; font-weight: normal">- 合作举办者：
                                @foreach (string user in contest.OtherOwners)
                                {
                                    @Html.UserLink(user)
                                }
                                    </span>
                                }
                            </h5>
                        </td>
                        <td><code>@contest.AttendUserCount</code></td>
                        <td>
                            @Html.ActionLink("管理", "Edit", new { id = contest.Name }, new { @class = "btn btn-primary btn-small", style = "display:inline-block;" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>
</div>
