@model ContestHunter.Models.View.ContestDescriptionModel
@{
    ViewBag.Title = "编写比赛预告";
    ViewBag.ViewBag = "Contest";
}

<style type="text/css">
    h5 {
        font-family: 微软雅黑;
        font-weight: normal;
    }
</style>

<div class="span12" style="margin-top: 20px; padding: 10px">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x=>x.Contest)
        @Html.HiddenFor(x => x.Action)
        <div class="alert alert-info" style="text-align: center">
            <h2>编写比赛预告</h2>
            <div>
                <div class="progress progress-striped progress-success active">
                    <div class="bar" style="width: 50%;"></div>
                </div>
            </div>
            <h5>请为 @Html.ActionLink(Model.Contest, "Show", new { id = Model.Contest }) 编写一份比赛预告，向用户宣传和介绍您的比赛。</h5>
            <h5>比赛过程中的更正信息、赛后的官方题解与试题分析地址，同样可以发布在这里。</h5>
            <h5>对于需要强调的地方，请在“<strong>样式</strong>”或“<strong>格式</strong>”菜单中，选择您需要的效果。</h5>
            <h5>如您需要更精确地控制显示效果，请点击编辑器的“源码”按钮，直接编辑HTML源码</h5>
            @Html.TextAreaFor(x => x.Description, new { @class = "ckeditor" })
            <h2>
                <input class="btn btn-warning" type="submit" value="效果预览" onclick="$('#Action').val('Preview')" />
            </h2>
            <div class="well" style="color: black; font-family: 微软雅黑; text-align: left;">
                @Html.Sanitized(Model.Description)
            </div>
            <div class="btn-group">
                @Html.ActionLink("上一步", "Edit", new { id = Model.Contest }, new { @class = "btn btn-primary", style = "display:inline-block;" })
                <input type="submit" class="btn btn-success" value="下一步" onclick="$('#Action').val('Next')" />
            </div>
        </div>
    }
</div>
