@model ContestHunter.Models.Domain.Contest
@using ContestHunter.Models.Domain
@using USER = ContestHunter.Models.Domain.User
@{
    ViewBag.Title = Model.Name;
    ViewBag.ActivedNav = "Contest";
}

<style type="text/css">
    .table {
        background-color: white;
    }

        .table td h2,
        .table td h4,
        .table td h5 {
            margin: 0px;
            text-align: center;
        }

        .table td h5 {
            font-weight: normal;
        }

        .table td code {
            margin-left: 5px;
        }
</style>

<script type="text/javascript">
    var ContestWholeTime = 0;
    var DiffDay = -1
    var DiffHour = -1
    var DiffMin = -1
    var DiffSec = -1
    var TotHour = 24 * 60 * 60 * 1000
    var TotMin = 60 * 60 * 1000
    var TotSec = 60 * 1000
    var TotMs = 1000
    var DiffMs = 0
    var LastTime = 0;
    var IntervalTicket;
    function clock() {
        LastTime = DiffMs
        DiffDay = Math.floor(DiffMs / TotHour)
        DiffMs -= DiffDay * TotHour
        DiffHour = Math.floor(DiffMs / TotMin)
        DiffMs -= DiffHour * TotMin
        DiffMin = Math.floor(DiffMs / TotSec)
        DiffMs -= DiffMin * TotSec
        DiffSec = Math.floor(DiffMs / TotMs)
        document.getElementById('Day').innerHTML = DiffDay
        document.getElementById('Hour').innerHTML = DiffHour
        document.getElementById('Min').innerHTML = DiffMin
        document.getElementById('Sec').innerHTML = DiffSec
        document.getElementById('bar').style.width = String((ContestWholeTime-LastTime)/ContestWholeTime*100)+ '%'
        DiffMs = LastTime - 1000
        if (DiffMs < 0) {
            location.reload();
            clearInterval(IntervalTicket);
        }
    }
    $(function () {
        @if (Model.RelativeStartTime > DateTime.Now)
        {
            TimeSpan span = Model.RelativeStartTime - DateTime.Now;
            ViewBag.Pre = "距离比赛开始还有";
            ViewBag.DiffMs = span.TotalMilliseconds;
            ViewBag.StartClock = true;
            ViewBag.ShowBar = false;
        }
        else if (Model.RelativeEndTime < DateTime.Now)
        {
            ViewBag.Pre = "比赛已结束";
            ViewBag.StartClock = false;
            ViewBag.ShowBar = false;
        }
        else
        {
            TimeSpan span = Model.RelativeEndTime - DateTime.Now;
            ViewBag.Pre = "距离比赛结束还有";
            ViewBag.DiffMs = span.TotalMilliseconds;
            ViewBag.StartClock = true;
            ViewBag.ShowBar = true;
        }
        $('#Pre').text('@ViewBag.Pre');
        ContestWholeTime=@((Model.RelativeEndTime - Model.RelativeStartTime).TotalMilliseconds);
        @if (ViewBag.StartClock)
        {
            @Html.Raw("IntervalTicket=setInterval(clock,1000); DiffMs =");
            @Html.Raw(ViewBag.DiffMs.ToString());
            @Html.Raw(";");
        }
        else
        {
            @Html.Raw("$('#Next').html('');");
        }
        @if (!ViewBag.ShowBar)
        {
            @Html.Raw("$('#progressBar').hide();")
        }
    });
</script>

<div class="span12" style="margin-top: 30px">
    <table class="table">
        <colgroup>
            <col style="width: 280px">
            <col style="width: 700px">
        </colgroup>
        <tbody>
            <tr>
                <td colspan="2" style="border: 0px">
                    <h2>@Model.Name</h2>
                </td>
            </tr>
            <tr>
                <td style="border: 0px">
                    <table class="table table-bordered table-striped table-hover">
                        <colgroup>
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>
                                    <h4 style="font-weight: normal">
                                        @switch (Model.Type)
                                        {
                                            case Contest.ContestType.ACM:
                                            @:ACM/ICPC
                                            break;
                                            case Contest.ContestType.CF:
                                            @:Codeforces
                                            break;
                                            case Contest.ContestType.OI:
                                            @:OI
                                            break;
                                        } - 
                                        @if (Model.IsOfficial)
                                        {
                                            <span style="color: red">Official</span>
                                        }
                                        else
                                        {
                                            <span style="color: blue">Unofficial</span>
                                        }
                                    </h4>
                                    @if (Model.Owner.Count > 0)
                                    {
                                        <h5>From 
                                        @for (int i = 0; i < Model.Owner.Count; i++)
                                        {
                                            if (i != 0)
                                            {
                                            @:,
                                            }
                                            @Html.UserLink(Model.Owner[i])
                                        }
                                        </h5>
                                    }
                                </td>
                            </tr>
                            <tr id="trProgress">
                                @if (Model.GetAttendType() == Contest.AttendType.Practice)
                                {
                                    <script>
                                        $('#trProgress').hide();
                                    </script>
                                }
                                <td>
                                    <div id="progressBar" class="progress progress-striped active" style="margin: 5px">
                                        @if (Model.RelativeStartTime > DateTime.Now)
                                        {
                                            ViewBag.Progress = 0;
                                        }
                                        else if (Model.RelativeEndTime < DateTime.Now)
                                        {
                                            ViewBag.Progress = 100;
                                        }
                                        else
                                        {
                                            ViewBag.Progress = (DateTime.Now - Model.RelativeStartTime).TotalSeconds / (Model.RelativeEndTime - Model.RelativeStartTime).TotalSeconds * 100;
                                        }
                                        <div id="bar" class="bar" style="width: @ViewBag.Progress%; text-align: center"></div>
                                    </div>
                                    <h4>
                                        <span id="Pre" style="font-weight: normal">?</span><br />
                                        <span id="Next">
                                            <span id="Day"></span>天
	                                        <span id="Hour"></span>小时
	                                        <span id="Min"></span>分
	                                        <span id="Sec"></span>秒
                                        </span>
                                    </h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <ul class="nav nav-list">
                                        @if (Model.Owner.Contains(USER.CurrentUserName))
                                        {
                                            <li>@Html.ActionLink("添加题目", "Add", "Problem", new { contest = Model.Name }, null)</li>
                                        }
                                        <li>@Html.ActionLink("报名与取消", "Signup", new { id = Model.Name })</li>
                                        <li>@Html.ActionLink("实时排名版", "Standing", new { id = Model.Name })</li>
                                        <li>@Html.ActionLink("我的提交记录", "Index", "Record", new { ContestName = Model.Name, UserName = USER.CurrentUserName }, null)</li>
                                        <li>@Html.ActionLink("所有提交记录", "Index", "Record", new { ContestName = Model.Name }, null)</li>
                                        <li><a href="#">参考题解与试题分析</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="border: 0px">
                    <table class="table table-bordered table-striped table-hover">
                        <colgroup>
                            <col>
                        </colgroup>
                        <tbody>
                            @foreach (var problem in Model.Problems())
                            {
                                <tr>
                                    <td>@Html.ActionLink(problem, "Show", "Problem", new { id = problem, contest = Model.Name }, null)<code>此处通过率</code></td>
                                    <td style="text-align: right; border-left: 0px">From <a href="#">??</a></td>
                                </tr>
                            }
                            @if (!string.IsNullOrEmpty(Model.Description))
                            {
                                <tr>
                                    <td colspan="2">
                                        <div class="alert alert-info" style="margin: 0px">
                                            @Html.Sanitized(Model.Description)
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
