@model ContestHunter.Models.Domain.Hunt
@using USER = ContestHunter.Models.Domain.User
@using ContestHunter.Models.Domain
@{
    ViewBag.Title = "猎杀结果";
    ViewBag.ActivedNav = "Record";
}

<div class="span12">
    <div class="alert alert-info" style="margin-top: 20px; padding: 5px; color: black">
        <div style="float: left; width: 320px">
            <table class="table table-bordered table-striped table-hover" style="background-color: white">
                <colgroup>
                    <col style="width: 100px">
                    <col style="width: 220px">
                </colgroup>
                <tbody>
                    <tr>
                        <th>题目名称</th>
                        <td>@Html.ActionLink(Model.Problem, "Show", "Problem", new { id = Model.Problem, contest = Model.Contest }, null)</td>
                    </tr>
                    <tr>
                        <th>猎杀者</th>
                        <td>@Html.UserLink(Model.User)</td>
                    </tr>
                    <tr>
                        <th>被猎杀</th>
                        <td>@Html.UserLink(Model.UserBeHunted)</td>
                    </tr>
                    <tr>
                        <th>评测结果</th>
                        <td>
                            @switch (Model.Status)
                            {
                                case Hunt.StatusType.BadData:
                                    ViewBag.Label = "";
                                    ViewBag.Text = "数据不合法";
                                    ViewBag.Score = 0;
                                    break;
                                case Hunt.StatusType.CompileError:
                                    ViewBag.Label = "";
                                    ViewBag.Text = "编译错误";
                                    ViewBag.Score = 0;
                                    break;
                                case Hunt.StatusType.Fail:
                                    ViewBag.Label = "label-important";
                                    ViewBag.Text = "猎杀失败";
                                    ViewBag.Score = -25;
                                    break;
                                case Hunt.StatusType.Pending:
                                    ViewBag.Label = "label-warning";
                                    ViewBag.Text = "等待测评";
                                    ViewBag.Score = 0;
                                    break;
                                case Hunt.StatusType.Running:
                                    ViewBag.Label = "";
                                    ViewBag.Text = "正在评测";
                                    ViewBag.Score = 0;
                                    break;
                                case Hunt.StatusType.Success:
                                    ViewBag.Label = "label-success";
                                    ViewBag.Text = "猎杀成功";
                                    ViewBag.Score = 100;
                                    break;
                                case Hunt.StatusType.HackedByOther:
                                    ViewBag.Label = "";
                                    ViewBag.Text = "被他人抢先Hunt";
                                    ViewBag.Score = 0;
                                    break;
                                case Hunt.StatusType.DataCheckerError:
                                    ViewBag.Label = "";
                                    ViewBag.Text = "数据校验器崩溃";
                                    ViewBag.Score = 0;
                                    break;
                                default:
                                    ViewBag.Label = "label-inverse";
                                    ViewBag.Text = "其他错误";
                                    ViewBag.Score = 0;
                                    break;
                            }
                            <span class="label @ViewBag.Label" style="font-size: 15px">@ViewBag.Text</span>
                        </td>
                    </tr>
                    @if (USER.ByName(USER.CurrentUserName).IsAdmin())
                    {
                        <tr>
                            <th>操作</th>
                            <td>
                                @using (Html.BeginForm("RejudgeHunt", "Record", new { id = Model.ID }, FormMethod.Post, new { style="margin:0"}))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" class="btn btn-warning btn-small" value="重测" />
                                }
                            </td>
                        </tr>
                    }
                    <tr>
                        <th>得分</th>
                        <td>
                            @if (ViewBag.Score > 0)
                            {
                                <span style="color: green"><b>@ViewBag.Score</b></span>
                            }
                            else
                            {
                                <span style="color: gray"><b>@ViewBag.Score</b></span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>类型</th>
                        <td>
                            @switch (Model.DataType)
                            {
                                case Record.LanguageType.C:
                                    ViewBag.Text = "数据生成器(C)";
                                    break;
                                case Record.LanguageType.CPP:
                                    ViewBag.Text = "数据生成器(C++)";
                                    break;
                                case Record.LanguageType.Data:
                                    ViewBag.Text = "直接提交数据";
                                    break;
                                case Record.LanguageType.Java:
                                    ViewBag.Text = "数据生成器(Java)";
                                    break;
                                case Record.LanguageType.Pascal:
                                    ViewBag.Text = "数据生成器(Pascal)";
                                    break;
                            }
                            @ViewBag.Text
                        </td>
                    </tr>
                    <tr>
                        <th>提交时间</th>
                        <td>@Model.Time</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="alert" style="float: right; width: 550px">
            @Html.Sanitized(Model.Detail)
        </div>
        <div style="clear: both; padding: 5px">
            <pre class="brush:cpp;">@Model.Data</pre>
        </div>
    </div>
</div>

