@model ContestHunter.Models.View.HuntModel
@using ContestHunter.Models.Domain
@{
    ViewBag.Title = "Hunt";
    ViewBag.ActivedNav = "Record";
}

<div class="span12">
    <div class="alert alert-info" style="margin-top: 20px">
        <fieldset>
            <legend style="color: red; text-align: center">Make a Hunt！</legend>
            <div style="text-align: center;">
                您即将对 @Html.UserLink(Model.HisName) 对于 @Html.ActionLink(Model.Problem, "Show", "Problem", new { id = Model.Problem, contest = Model.Contest }, null) 的解答展开猎杀<br />
                Ta的代码如下：<br />
            </div>
            <div>
                @switch (Model.HisLanguage)
                {
                    case Record.LanguageType.C:
                        ViewBag.Brush = "c";
                        break;
                    case Record.LanguageType.CPP:
                        ViewBag.Brush = "cpp";
                        break;
                    case Record.LanguageType.Pascal:
                        ViewBag.Brush = "pascal";
                        break;
                    case Record.LanguageType.Java:
                        ViewBag.Brush = "java";
                        break;
                }
                <img src="@Url.Action("CodeImage", new { id = Model.HisCode, width = 900 })" style="width:900px; display:block;margin:auto;" />
            </div>
            <div style="text-align: center;">
                Hunt成功可以得到100分，失败将被扣除25分<br />
                如果您提交的数据不合法，那么本次Hunt不计入总成绩<br />
                可以直接提交输入数据，也可以上传数据生成器(采用标准输出)<br />
                <br />
            </div>
            <div style="width: 800px; margin: auto; text-align: center">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div>
                        选项：
                    @Html.DropDownListFor(x => x.MyLanague, new SelectListItem[]
                       {
                           new SelectListItem{Text="直接提交输入数据",Value="Data"},
                           new SelectListItem{Text="数据生成器(C++)",Value="CPP"},
                           new SelectListItem{Text="数据生成器(C)",Value="C"},
                           new SelectListItem{Text="数据生成器(Pascal)",Value="Pascal"},
                           new SelectListItem{Text="数据生成器(Java)",Value="Java"}
                       })
                    </div>
                    @Html.TextAreaFor(x => x.MyCode, new { style = "width: 800px; height: 400px" })
                    <input type="submit" value="Hunt!" class="btn btn-danger" />
                }
            </div>
        </fieldset>
    </div>
</div>
