@model ContestHunter.Models.View.User.LoginModel

@{
    ViewBag.Title = "登录";
}

<style type="text/css">
    .control-group {
        margin-left: -50px;
    }
</style>

<div class="span12" style="margin-top: 20px">
    <div class="alert alert-info" style="text-align: center;">
        <div style="background-image: url(/Image/Login.png); height: 80px; width: 487px; margin: 20px auto">
        </div>
        @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { style = "display:inline-block;", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <div class="control-group">
                @Html.LabelFor(x => x.UserName, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.UserName, new { @class = "input-xlarge" })
                    @Html.ValidationMessageFor(x => x.UserName)
                    @Html.DescriptionFor(x => x.UserName, new { @class = "help-block" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Password, new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(x => x.Password, new { @class = "input-xlarge" })
                    @Html.ValidationMessageFor(x => x.Password)
                    @Html.DescriptionFor(x => x.Password, new { @class = "help-block" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls" style="margin-left: 50px">
                    @Html.CheckBoxFor(x => x.KeepOnline)
                    @Html.LabelFor(x => x.KeepOnline)
                    @Html.ValidationMessageFor(x => x.KeepOnline)
                    @Html.DescriptionFor(x => x.KeepOnline, new { @class = "help-block" })
                </div>
            </div>
            
            <input type="submit" value="登录" class="btn btn-primary" />
            <div style="margin-top: 30px;">
                @Html.ActionLink("没有账户？立即注册！", "Register")
            </div>
        }
    </div>
</div>
