@model ContestHunter.Models.Domain.User
@using USER = ContestHunter.Models.Domain.User
@{
    ViewBag.Title = Model.Name;
}

<style type="text/css">
    h4, h5 {
        font-weight: normal;
    }

    .table th,
    .table td {
        text-align: center;
        vertical-align: middle;
        color: black;
    }

    code {
        padding: 0 3px 2px;
        font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
        font-size: 12px;
        color: #333333;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 2px 4px;
        color: #d14;
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
    }
</style>

<div class="span12">
    <div class="alert alert-info" style="margin-top: 20px; font-family: 微软雅黑">
        <table>
            <tr>
                <td style="width: 200px; padding-right: 20px; vertical-align: top;">
                    @Html.Gravatar(Model.Email, 200)
                </td>
                <td style="vertical-align: top;">
                    @{
                        ViewBag.Rating = new RatingInfo(Model);
                    }
                    <h4 style="color: @ViewBag.Rating.Color">@ViewBag.Rating.Caption，@Model.Name</h4>
                    <div style="float: left; width: 350px">
                        <h5 style="color: green">能力评估值：@Model.Rating()</h5>
                        <h5 style="color: green">当前排名：-1</h5>
                        <h5>基本信息：@Model.RealName - @Model.Country,@Model.Province,@Model.City,@Model.School</h5>
                        <h5>电子邮件：<a href="mailto:@Model.Email">@Model.Email</a></h5>
                        <h5>上次登录：@Model.LastLoginTime</h5>
                    </div>
                    <div style="float: right; width: 300px">
                        <h5>Ta的格言：</h5>
                        @Model.Motto
                        <h5 style="text-align: right">
                            @Html.ActionLink("Ta的提交记录", "Index", "Record", new { UserName = Model.Name }, null)<br />
                            <a href="#">Ta的比赛记录</a><br />
                            @if (USER.CurrentUserName == Model.Name)
                            {
                                @Html.ActionLink("修改我的用户资料", "Edit")
                            }
                        </h5>
                    </div>
                    <div style="clear: both"></div>
                </td>
            </tr>
        </table>
        <table class="table table-bordered table-striped table-hover" style="background-color: white; margin-top: 10px">
            <colgroup>
                <col style="width: 380px">
                <col style="width: 200px">
                <col style="width: 270px">
                <col style="width: 80px">
            </colgroup>
            <thead>
                <tr>
                    <th>Ta举办的比赛</th>
                    <th>赛制</th>
                    <th>开始时刻/时长</th>
                    <th>参赛人数</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">这是比赛名称</a></td>
                    <td><b>OI</b> - <span style="color: red">Official</span></td>
                    <td>2013/2/21 19:00:00 持续3小时</td>
                    <td><code>1000</code></td>
                </tr>
                <tr>
                    <td><a href="#">这是比赛名称</a></td>
                    <td><b>Codeforces</b> - <span style="color: blue">Unofficial</span></td>
                    <td>2013/2/20 19:00:00 持续2小时</td>
                    <td><code>1000</code></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
