@model ContestHunter.Models.View.ProblemProgramModel
@{
    ViewBag.Title = "配置相关程序";
    ViewBag.ActivedNav = "Contest";
}

<style type="text/css">
    textarea {
        width: 800px;
        height: 400px;
        margin: auto;
        display: block;
    }

    .accordion-group {
        background-color: white;
    }

    h5 {
        
        font-weight: normal;
    }
</style>

<div class="span12" style="margin-top: 20px; padding: 10px">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x=>x.Problem)
        @Html.HiddenFor(x=>x.Contest)
        <div class="alert alert-info" style="text-align: center">
            <h2>提交校验器和标程</h2>
            <div>
                <div class="progress progress-striped progress-success active">
                    <div class="bar" style="width: 80%;"></div>
                </div>
            </div>
            <div style="text-align: center; ">
                请为您的题目提交一份<b>标程(Standard Program)</b>和一个<b>运行结果比较器(Special Judge)</b><br />
                您可以将<b>运行结果比较器</b>一栏留空，这样会使用预置的默认比较器，它可以支持忽略文末换行符和行末空格后的全文比较<br />
                标程<b>必须包含对数据合法性的校验</b>，以检查参赛者Hunt时提交的数据的合法性<br />
                若读入的数据不合法，标程应当返回非零值结束程序，测评器检测到标程运行时错误，将判定数据非法<br/>
                <br />
            </div>
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">标程(Standard Program)</a>
                    </div>
                    <div id="collapse1" class="accordion-body collapse">
                        <div class="accordion-inner">
                            @Html.DropDownListFor(x=>x.StdLanguage,new SelectListItem[]
                               {
                                   new SelectListItem{Text="C++",Value="CPP"},
                                   new SelectListItem{Text="C",Value="C"},
                                   new SelectListItem{Text="Java",Value="Java"},
                                   new SelectListItem{Text="Pascal",Value="Pascal"}
                               },new{@class="input-small"})
                            @Html.TextAreaFor(x => x.Std)
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">运行结果比较器(Special Judge)</a>
                    </div>
                    <div id="collapse2" class="accordion-body collapse">
                        <div class="accordion-inner">
                            @Html.DropDownListFor(x=>x.SpjLanguage,new SelectListItem[]
                               {
                                   new SelectListItem{Text="C++",Value="CPP"},
                                   new SelectListItem{Text="C",Value="C"},
                                   new SelectListItem{Text="Java",Value="Java"},
                                   new SelectListItem{Text="Pascal",Value="Pascal"}
                               },new{@class="input-small"})
                            <span style="font-size: 12px; color: gray">*如果您的题目为直接比较方式，可以留空此处，以选择我们预置的校验器</span>
                            @Html.TextAreaFor(x => x.Spj)
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-group">
                @Html.ActionLink("上一步", "TestCase", new { id = Model.Problem, contest = Model.Contest }, new { @class = "btn btn-primary", style = "display:inline-block;" })
                <input type="submit" value="下一步" class="btn btn-success" />
            </div>
        </div>
    }
</div>
