@model ContestHunter.Models.View.ProblemSubmitModel
@{
    ViewBag.Title = "提交代码";
}

<style type="text/css">
    .table td {
        font-family: 微软雅黑;
        text-align: center;
    }
</style>

<div class="span12" style="text-align: center;">
    <h3>@Model.Problem</h3>
    @using (Html.BeginForm())
    {
        <div class="btn-group" style="margin: 10px;">
            @Html.ActionLink("返回题目", "Show", new { id = Model.Problem, contest = Model.Contest }, new { @class = "btn btn-info", style = "display:inline-block" })
            @Html.ActionLink("返回比赛", "Show", "Contest", new { id = Model.Contest }, new { @class = "btn btn-warning", style = "display:inline-block" })
        </div>
        @Html.TextAreaFor(x => x.Code, new { style = "width: 800px; height: 400px; margin: auto; display: block;", autofocus = "autofocus" })
        <div style="margin: 10px;">
            @Html.DropDownListFor(x => x.Language, new SelectListItem[]
                {
                    new SelectListItem{Text="语言",Value=""},
                    new SelectListItem{Text="C++",Value="CPP"},
                    new SelectListItem{Text="C",Value="C"},
                    new SelectListItem{Text="Pascal",Value="Pascal"}
                });
            <input type="submit" value="提交代码" class="btn btn-success" />
        </div>
    }
</div>
