@model ContestHunter.Models.View.ProblemSubmitModel
@{
    ViewBag.Title = "提交代码";
    ViewBag.ActivedNav = "Contest";
}

<style type="text/css">
    .table td {
        
        text-align: center;
    }
</style>

<div class="span12" style="text-align: center;">
    <h3>@Model.Problem</h3>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x=>x.Problem)
        @Html.HiddenFor(x=>x.Contest)
        <div style="float:left; margin-left:80px">
            @Html.DropDownListFor(x => x.Language, new SelectListItem[]
            {
                new SelectListItem{Text="语言",Value=""},
                new SelectListItem{Text="C++",Value="CPP"},
                new SelectListItem{Text="C",Value="C"},
                new SelectListItem{Text="Pascal",Value="Pascal"},
                new SelectListItem{Text="Java",Value="Java"}
            }, new { @class = "input-small" })
        </div>
        <div class="btn-group" style="float:right; margin-right: 80px">
            @Html.ActionLink("返回题目", "Show", new { id = Model.Problem, contest = Model.Contest }, new { @class = "btn btn-info btn-small", style = "display:inline-block" })
            @Html.ActionLink("返回比赛", "Show", "Contest", new { id = Model.Contest }, new { @class = "btn btn-warning btn-small", style = "display:inline-block" })
        </div>
        <div style="clear:both"></div>
        @Html.TextAreaFor(x => x.Code, new { style = "width: 800px; height: 400px; margin: auto; display: block;", autofocus = "autofocus" })
        <div style="color: red;">
            @Html.ValidationSummary()
        </div>
        <div style="margin: 10px;">
            <input type="submit" value="提交代码" class="btn btn-success" />
        </div>
    }
</div>
