@model ContestHunter.Models.View.RatingHistoryModel
@{
    ViewBag.Title = "排名记录";
    ViewBag.ActivedNav = "Rating";
}

<style type="text/css">
    .table {
        background-color: white;
        color: black;
        margin: 0px;
    }

        .table th,
        .table td {
            text-align: center;
            vertical-align: middle;
        }
</style>

<div class="span12">
    <fieldset style="margin-top: 20px">
        <legend>@Html.UserLink(Model.User)的能力排名历史记录</legend>
        <table class="table table-bordered table-striped table-hover">
            <colgroup>
                <col style="width:120px">
                <col>
                <col style="width:80px">
                <col style="width:80px">
                <col style="width:360px">
            </colgroup>
            <thead>
                <tr>
                    <th>时间</th>
                    <th>比赛名称</th>
                    <th>增减</th>
                    <th>新值</th>
                    <th>名称变化</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = Model.Ratings.Count - 1; i >= 0; i--)
                {
                    var rating = Model.Ratings[i];
                    <tr>
                        <td>@rating.Time</td>
                        <td>@Html.ActionLink(rating.Contest, "Show", "Contest", new { id = rating.Contest }, null)</td>
                        <td>
                            @{
                    var delta = rating.Score - (i == 0 ? 0 : Model.Ratings[i - 1].Score);
                            }
                            @if (delta >= 0)
                            {
                                <span style="color: green"><b>+</b>@delta</span>
                            }
                            else
                            {
                                <span style="color: gray"><b>-</b>@(-delta)</span>
                            }
                        </td>
                        <td><b>@rating.Score</b></td>
                        <td>
                            @{
                            var curRating = new RatingInfo(rating.Score);
                            var prevRating = new RatingInfo(i == 0 ? 0 : Model.Ratings[i - 1].Score);
                            }
                            @if (curRating.Caption == prevRating.Caption)
                            {
                                @:没有变化
                            }
                            else
                            {
                                @Html.UserLink(Model.User, new { title = prevRating.Caption, style = "color:" + prevRating.Color })
                                @:→
                                @Html.UserLink(Model.User, new { title = curRating.Caption, style = "color:" + curRating.Color })
                                <br />
                                @:成为: @curRating.Caption
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>
</div>
